* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 12, 12);
}

.data {
  width: 15rem;
  font-size: 0.8rem;
  border-radius: 30px;
  font-family: 'Lobster', cursive;
}

img {
  width: 5rem;
}

.App {
  background: linear-gradient(126deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(193, 99, 18, 1) 38%,
      rgba(255, 188, 0, 1) 100%)
}

.header {
  font-family: 'Lobster', cursive;
}

.frame {
  border: 2px dashed red;
  border-radius: 10px;
  width: 30rem;
  margin: auto;
}