* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 12, 12);
}

.data {
  width: 15rem;
  font-size: 0.8rem;
  border-radius: 30px;
  font-family: 'Lobster', cursive;
}

img {
  width: 5rem;
  object-fit: cover;
  transition: all 1s ease;
}
img:hover {
  transform: scale(1.2);
}

.App {
  background-color: rgb(121, 67, 20);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1rem;
}

.header {
  font-family: 'Lobster', cursive;
}

p {
  font-family: 'Lobster', cursive;
}

.frame {
  border: 1px solid brown;
  border-radius: 100px;
  width: 30rem;
  margin: auto;
  background: linear-gradient(126deg,
      rgba(2, 0, 36, 1) 5%,
      rgba(193, 99, 18, 1) 50%,
      rgba(2, 0, 36, 1) 96%)

}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th {
    border: none;
    padding: 0.1rem;
}
.table-borderless > tbody > tr > td{
  text-align: start;
}